<ion-header>
  <ion-navbar>
    <ion-title>BaBa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="promotion">
    <img src="../../assets/cafe.png">
  </div>

  <div *ngFor="let item of items">
    <div *ngIf="item.distance < 10 && item.voteCount != -5">
      <ion-grid>
        <div class="post-wrapper">
        <ion-row justify-content-between>
          <ion-col col-9 (click)="openPost(item)">
            <ion-grid>
              <ion-row align-items-center>
                <ion-col align-self-start>

             <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <div class="post">{{item.text}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col align-self-end>

              <ion-grid class="time-comment-wrapper">
                <ion-row>
                  <ion-col col-12>
                    <span class="comment">
                      {{item.commentsCount}} <ion-icon name="chatboxes"></ion-icon> 
                    </span>
                    <span class="time">{{item.createAt | timeAgo}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>
          <ion-col col-3>
            <div class="vote circle">
              <div class="increment up" [class.highlighted]="item.voteCount == 1" (click)="upVote(item.postID)">
              </div>
              <div class="increment down" [class.highlighted]="item.voteCount == -1" (click)="downVote(item.postID)">
              </div>
              <div class="count">{{ item.voteCount }}</div>
            </div>
          </ion-col>
        </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>


  <ion-fab bottom right>
    <button ion-fab (click)="writePost()" color="secondary"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

</ion-content>
