.post-wrapper{
    background-color: #A8E367;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1px;
    min-height: 75px;
}

.post{
    color: #666;
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.comment{
    color: #666;
    font-family: 'Itim', cursive;
    font-size: 14px;
    text-align: right;
}
.time{
    color: #666;
    font-family: 'Itim', cursive;
    font-size: 14px;
    text-align: left;
}
